$primary-font: "DM Sans", sans-serif;
$secondary-font: "Spectral", serif;

$primary: #3ea938;
$secondary: #3ea938;
$yellow: #ffda5c;
$black: #101820;
$white: #fff;

$box-shadow: 10px 10px 30px rgba($black, 0.1);
$border-radius: 0.8rem;
$box-padding: 2rem;
$border: 1px solid rgba(0, 0, 0, 0);
$background: rgba($white, 0.6);
