<template>
  <div class="page-wrapper">
    <div class="container">
      <div v-if="this.$route.name != 'index'" class="post-title-wrapper box">
        <h2>{{ content.post_title }}</h2>
      </div>
    </div>
    <ThePagebuilder v-if="content && content.custom_fields.pagebuilder" :blocks="content.custom_fields.pagebuilder" />
  </div>
</template>
<script>
export default {
  components: {
    ThePagebuilder: () => import('~/components/ThePagebuilder.vue')
  },
  computed: {
    content () {
      return this.$store.state.pages[this.$route.path] || false
    }
  }
}
</script>
<style lang="scss">
  .page-wrapper {
    margin: 10rem 0 5rem 0;

    .post-title-wrapper {
      padding: 1rem 1.5rem;
      margin-bottom: 5rem;
      box-shadow: none;
      background: none;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 60%);
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 100%;
        background: none;
        z-index: -1;
        box-shadow: $box-shadow;
      }

      h2 {
        margin: 0;
      }
    }
  }
</style>
