<template>
  <transition name="fade">
    <div v-if="loading" class="loading-page-wrapper">
      <div class="loading-wrapper">
        <div class="lds-ring">
          <div /><div /><div /><div />
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data: () => ({
    loading: false,
    progress: 0
  }),
  methods: {
    start () {
      this.loading = true
    },
    finish () {
      this.loading = false
    },
    increase (num) {
      this.progress = num
    }
  }
}
</script>
<style lang="scss">
.fade-enter-active {
  transition: all 0.4s ease;
}
.fade-leave-active {
  transition-delay: 0.4s;
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter, .fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.loading-page-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  h5 {
    margin: 0;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $yellow;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $yellow transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>
