<template>
  <div :class="['header-wrapper']">
    <div class="container">
      <TheMenu />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    TheMenu: () => import('~/components/TheMenu.vue')
  },
  computed: {
    options () {
      return this.$store.getters.getOptions || []
    }
  }
}
</script>

<style lang="scss">
// * {
//   box-shadow: 0 0 0 1px $black;
// }
.header-wrapper {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 999;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width: 1024px) {
      align-items: flex-start;
      position: relative;
      z-index: 9999;
    }
    .menu-wrapper {
      width: 100%;
    }
  }

}
</style>
