<template>
  <div id="menu-wrapper" :class="[isActive ? 'active' : 'noActive', 'box']">
    <nuxt-link to="/" class="logo">
      <svg-icon name="reachhemservice/reachforetagsservice-logo" />
    </nuxt-link>
    <div class="navigation">
      <nav>
        <ul class="main-nav">
          <li v-for="(link_item, i) in menu" :key="i">
            <nuxt-link :to="link_item.link.url">
              {{ link_item.link.title }}
            </nuxt-link>
          </li>
        </ul>
        <div id="burger-wrapper" @click="toggleClass()" :class="[isActive ? 'active' : 'noActive']">
          <span class="line top" />
          <span class="line middle" />
          <span class="line bottom" />
        </div>
        <div @click="toggleClassBooking()" :class="[isActiveBooking ? 'active buttons-wrapper cta-button-wrapper' : 'noActive buttons-wrapper cta-button-wrapper']">
          <b-button variant="primary" class="orange">
            <svg-icon name="reachhemservice/ok.svg" />
            <span :class="[isActiveBooking ? 'active' : 'noActive']"><span class="swapText">Boka ett besök</span></span>
          </b-button>
        </div>
      </nav>
    </div>
    <div :class="[isActiveBooking ? 'active booking-wrapper' : 'booking-wrapper', 'border']">
      <div class="booking-wrapper-inner">
        <div @click="toggleClassBooking" class="close-dialog">
          <svg-icon name="reachhemservice/cancel" />
          <span>Stäng</span>
        </div>
        <div class="inner-content">
          <BaseContactform id="21" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  components: {
    BaseContactform: () => import('~/components/BaseContactform.vue')
  },
  data () {
    return {
      isActive: false,
      isActiveBooking: false
    }
  },
  computed: {
    menu () {
      return this.options.links || []
    },
    options () {
      return this.$store.state.options || {}
    }
  },
  watch: {
    $route () {
      this.isActive = false
      this.isActiveBooking = false
    }
  },
  methods: {
    toggleClassBooking (event) {
      if (this.isActiveBooking) {
        this.isActiveBooking = false
      } else {
        this.isActiveBooking = true
      }
    },
    removeClassBooking (event) {
      this.isActiveBooking = true
    },
    toggleClass (event) {
      if (this.isActive) {
        this.isActive = false
      } else {
        this.isActive = true
      }
    },
    removeClass (event) {
      this.isActive = true
    }
  }
}
</script>
<style lang="scss">
#menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 88px;
  background: $white;
  padding: 0;
  transition: all ease 250ms;
  position: relative;
  // overflow: hidden;
  &.active {
    height: calc(100vh - 4rem);
    .navigation {
      overflow: initial;
    }
  }

  @media(max-width: 1440px) {
    height: 66px;
  }

  // * {box-shadow: 0 0 0 1px red;}

  .logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
    left: -0.2rem;
    z-index: 999;
    svg {
      width: 320px;
      height: 150px;
      @media(max-width: 1440px) {
        width: 220px;
        height: 125px;
      }
    }
  }

  .navigation {
    width: calc(100% - 3rem);
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    @media(max-width: 1440px) {
      height: 66px;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      position: relative;
      #burger-wrapper {
        width: 30px;
        height: 16px;
        display: none;
        position: relative;
        margin-right: 2rem;
        cursor: pointer;
        @media(max-width: 600px) {
          margin-right: 0;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: $black;
          left: 0;
          top: 50%;
          margin-top: -1px;
          transform: rotate(0deg);
          transition: all ease 250ms;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: $black;
          left: 0;
          top: 50%;
          margin-top: -1px;
          transform: rotate(0deg);
          transition: all ease 250ms;
        }
        &.active {
          &:before {
            transform: rotate(-45deg);
          }
          &:after {
            transform: rotate(45deg);
          }
          .line {
            opacity: 0;
            &.top {
              transform: translateX(100%);
            }
            &.middle {
              transform: translateY(-100%);
            }
            &.bottom {
              transform: translateX(-100%);
            }
          }
        }
        @media(max-width: 1280px) {
          display: flex;
        }
        .line {
          width: 100%;
          height: 2px;
          background: $black;
          position: absolute;
          left: 0;
          transition: all ease 250ms;
          &.top {
            top: 0;
          }
          &.middle {
            top: 50%;
            margin-top: -1px;
          }
          &.bottom {
            bottom: 0;
          }
        }
      }
      .main-nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 2rem;
        @media(max-width: 1280px) {
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          transform: translateY(88px);
          li {
            a {
              font-size: 24px;
            }
          }
        }
        li {
          list-style: none;
          margin-left: 1.5rem;
          @media(max-width: 1280px) {
            text-align: center;
            margin: 1rem 0;
            width: 100%;
          }
          a {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: 700;
            color: $black;
            text-decoration: none;
            transition: all ease 250ms;
            &.nuxt-link-exact-active {
              color: $primary;
            }
            &:hover {
              color: $primary;
            }
          }
        }
      }
      .cta-button-wrapper {
        @media(max-width: 600px) {
          position: fixed;
          bottom: 2.5rem;
          left: 2.5%;
          width: calc(100% - 5%);
        }
        button {
          margin: 0;
          padding: 0.8rem;
          background: $yellow;
          @media(max-width: 1440px) {
            padding: 0.8rem 1rem;
          }
          @media(max-width: 600px) {
            padding: 1.2rem;
          }
          span {
            color: $black;
          }
          svg {
            width: 25px;
            height: 25px;
            margin-right: 1rem;
            margin-left: 0;
            fill: $black;
          }
        }
      }
    }
  }

  .booking-wrapper {
    position: fixed;
    top: 1rem;
    right: 0;
    width: 50%;
    height: calc(100vh - 2rem);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all ease 400ms;
    border-radius: $border-radius;
    transform: translateX(100%);

    &.active {
      transform: translateX(-2rem);

      @media(max-width: 960px) {
        height: calc(100% - 10rem);
        width: calc(100% - 4rem);
        top: 130px;
      }
    }

    @media(max-width: 600px) {
      width: 100%;
    }

    .booking-wrapper-inner {
      width: 100%;
      height: 100%;
      padding: 5rem;
      position: relative;
      overflow: hidden;
      background: $white;
      box-shadow: -10px 0 20px rgba(0,0,0,0.1);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      @media(max-width: 1440px) {
        padding: 5rem 2.5rem 0 2.5rem;
      }

      .close-dialog {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: auto;
        height: auto;
        cursor: pointer;
        border: 2px solid $black;
        border-radius: $border-radius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        transition: all ease 250ms;
        background: $white;
        &:hover {
          background: $black;
          svg {
            fill: $white;
          }
          span {
            color: $white;
          }
        }
        svg {
          width: 20px;
          height: 20px;
          margin-right: 1rem;
          fill: $black;
          @media(max-width: 600px) {
            width: 10px;
            height: 10px;
          }
        }
        span {
          font-family: $primary-font;
          color: $black;
          font-weight: 700;
        }
      }
    }
  }
}
</style>
