<template>
  <div class="pagebuilder-wrapper">
    <div
      v-for="(block, index) in blocks"
      :class="['block-wrapper', block.acf_fc_layout]"
      :id="block.acf_fc_layout + '-' + index"
      :key="index"
    >
      <PagebuilderBaseContent v-if="block.acf_fc_layout === 'base_content'" :data="block" />
      <PagebuilderBaseCta v-if="block.acf_fc_layout === 'base_cta'" :data="block" />
      <PagebuilderBaseEmployee v-if="block.acf_fc_layout === 'base_employee'" :data="block" />
      <PagebuilderBaseService v-if="block.acf_fc_layout === 'base_service'" :data="block" />
      <PagebuilderBaseNews v-if="block.acf_fc_layout === 'base_news'" :data="block" />
      <PagebuilderBasePriceCalculator v-if="block.acf_fc_layout === 'base_price_calculator'" :data="block" />
      <PagebuilderBaseContact v-if="block.acf_fc_layout === 'base_contact'" :data="block" />
      <PagebuilderBaseTestimonials v-if="block.acf_fc_layout === 'base_testimonials'" :data="block" />
    </div>
  </div>
</template>
<script>
export default {
  components: {
    PagebuilderBaseContent: () => import('~/components/blocks/PagebuilderBaseContent.vue'),
    PagebuilderBaseCta: () => import('~/components/blocks/PagebuilderBaseCta.vue'),
    PagebuilderBaseEmployee: () => import('~/components/blocks/PagebuilderBaseEmployee.vue'),
    PagebuilderBaseService: () => import('~/components/blocks/PagebuilderBaseService.vue'),
    PagebuilderBaseNews: () => import('~/components/blocks/PagebuilderBaseNews.vue'),
    PagebuilderBasePriceCalculator: () => import('~/components/blocks/PagebuilderBasePriceCalculator.vue'),
    PagebuilderBaseContact: () => import('~/components/blocks/PagebuilderBaseContact.vue'),
    PagebuilderBaseTestimonials: () => import('~/components/blocks/PagebuilderBaseTestimonials.vue')
  },
  props: {
    blocks: {
      type: [Array, Boolean]
    },
    content: {
      typeblocks: Object,
      default: () => {
        return {}
      }
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-wrapper {
  margin: 10vmin 0;
}
</style>
