<template>
  <div>
    <div :class="['ie-banner', 'text-center', { 'd-none': !isIE() }]">
      <p class="small">
        Psst! För att njuta av allt vår sida har att erbjuda så rekommenderar vi
        att du byter webbläsare. Här får du smidig vägledning:
        <a href="https://browsehappy.com/">https://browsehappy.com/</a>
      </p>
    </div>
    <div class="bodyBG" />
    <TheHeader />
    <nuxt class="default-wrapper" />
    <TheFooter />
    <TheCookies />
  </div>
</template>
<script>
export default {
  components: {
    TheHeader: () => import('~/components/TheHeader.vue'),
    TheFooter: () => import('~/components/TheFooter.vue'),
    TheCookies: () => import('~/components/TheCookies.vue')
  },
  head () {
    return this.meta
  },
  computed: {
    meta () {
      const path = this.$route.path

      return this.$store.state.meta.metaFormated[path]
    },
    content () {
      return this.$store.state.pages[this.$route.path] || false
    }
  }
}
</script>
<style lang="scss">
html {

}

.bodyBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: url('/bg.jpg') no-repeat center;
  background-size: cover;
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-wrapper {
  margin: 10vmin 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.default-wrapper {
}

.page-enter-active,
  .page-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-delay: 200ms;
  }

  .page-enter,
  .page-leave-to {
    opacity: 0;
}
</style>
