<template>
  <div class="error-wrapper">
    error
  </div>
</template>

<script>
export default {

  props: {
    error: {
      type: Object
    }
  },
  data () {
    return {
      // json
    }
  }
}
</script>
<style lang="scss">
  .error-wrapper{
    padding: 12vmin 0;
  }
</style>
