<template>
  <div class="base_service-wrapper">
    <div class="container">
      <BaseBlockTop :title="data.title" :url="data.link.url" :linkTitle="data.link.title" />
      <div class="row justify-content-center gutter">
        <div v-for="(service, i) in data.service" :key="i" class="col-md-4 col-sm-6 service-item">
          <div class="service-item-inner box">
            <nuxt-link :to="service.permalink">
              <img :src="service.featured_image.large" :alt="service.post_name">
              <div class="meta">
                <h4>{{ service.post_title }}</h4>
                <p v-if="service.post_excerpt">
                  {{ service.post_excerpt.slice(0, 100) + '...' }}
                </p>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    BaseBlockTop: () => import('~/components/BaseBlockTop.vue')
  },
  props: {
    data: {
      type: [Object, Array]
    }
  }
}
</script>

<style lang="scss">
    .base_service-wrapper {
        .container {
          .row {
            &.gutter {
              margin: 0 -2rem;
              > * {
                  padding: 0 2rem;
              }
            }

            .service-item {
              margin-bottom: 4rem;
              .service-item-inner {
                transition: all ease 250ms;

                &:hover {
                  background: white;
                  box-shadow: 12px 12px 25px rgba($black, 0.15);
                  transform: translateY(-0.2rem);
                }
                a {
                  text-decoration: none;
                  color: $black;
                }
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: $border-radius;
                  box-shadow: $box-shadow;
                  margin-bottom: 2rem;
                }
                .meta {
                  h4 {
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                  }
                }
                .buttons-wrapper {
                  a {
                    @media(max-width: 1280px) {
                      padding: 1rem;
                    }
                    svg {
                      @media(max-width: 1280px) {
                        margin: 0;
                      }
                    }
                    span {
                      @media(max-width: 1280px) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }

          }
        }
    }
</style>
