<template>
  <div class="base_testimonials-wrapper">
    <div class="container">
      <BaseBlockTop :title="data.title" :url="data.link.url" :linkTitle="data.link.title" />
      <div class="row gutter">
        <a :target="testimonial.link.target" :href="testimonial.link.url" v-for="(testimonial, i) in data.testimonials" :key="i" class="col-md-4 col-sm-6 testimonial-item">
          <img :src="testimonial.image.sizes.max" alt="testimonial.image.alt">
          <div v-html="testimonial.text">
            {{ testimonial.text }}
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {
    BaseBlockTop: () => import('~/components/BaseBlockTop.vue')
  },
  props: {
    data: {
      type: [Object, Array]
    }
  }
}
</script>

<style lang="scss">
    .base_testimonials-wrapper {
      * {
        // box-shadow: 0 0 0 1px black;
      }
        .container {
          .row {
            &.gutter {
                margin: 0 -2rem;
                > * {
                    padding: 0 2rem;
                }
            }
            .testimonial-item {
              text-decoration: none;
              color: $black;
              img {
                width: 200px;
                height: 100px;
                object-fit: contain;
              }
              div {

              }
            }
          }
        }
    }
</style>
