<template>
  <div class="base_contact-wrapper">
    <div class="container">
      <div class="row gutter">
        <div class="col-md-6">
          <h2>{{ data.form.title }}</h2>
          <div v-html="data.form.text">
            {{ data.form.text }}
          </div>
          <div class="form-wrapper">
            <BaseContactform v-if="data.form.form_id" :id="data.form.form_id" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-info">
            <h2>{{ data.contact.title }}</h2>
            <div v-html="data.contact.text">
              {{ data.contact.text }}
            </div>
          </div>
          <div class="map">
            <h2>{{ data.map.title }}</h2>
            <div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8512.62072042908!2d14.095786!3d57.7647679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x25b2af57ab6fee4e!2sReach%20for%20the%20Stars%20AB!5e0!3m2!1ssv!2sse!4v1619693561690!5m2!1ssv!2sse"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    BaseContactform: () => import('~/components/BaseContactform.vue')
  },
  props: {
    data: {
      type: [Object, Array]
    }
  }
}
</script>

<style lang="scss">
    .base_contact-wrapper {
        * {
          font-family: $primary-font;
        }
        .container {
          .row {
            &.gutter {
              margin: 0 -2rem;
              > * {
                  padding: 0 2rem;
              }
              @media(max-width: 767px) {
                  margin: 0;
                  > * {
                      padding: 0;
                  }
              }
            }
            .contact-info {
              p {
                margin-bottom: 1rem;
              }
            }
            iframe {
              width: 100%;
              border-radius: $border-radius;
              box-shadow: $box-shadow;
            }
          }
        }
    }
</style>
