<template>
  <div class="base_employee-wrapper">
    <div class="container">
      <BaseBlockTop :title="data.title" :url="data.link.url" :linkTitle="data.link.title" />
      <div class="row gutter">
        <div v-for="(employee, i) in data.employee" :key="i" class="col-md-4 col-sm-6 employee-item">
          <div class="employee-item-inner box">
            <img :src="employee.featured_image.medium" :alt="employee.post_name">
            <div class="meta">
              <h5 class="title">
                {{ employee.custom_fields.title }}
              </h5>
              <h4>{{ employee.post_title }}</h4>
              <h5>{{ employee.custom_fields.phonenumber }}</h5>
              <h5 v-if="employee.custom_fields.area_expertise">
                Ansvarig för: <span>{{ employee.custom_fields.area_expertise }}</span>
              </h5>
              <a :href="'mailto:' + employee.custom_fields.email">
                <svg-icon name="reachhemservice/mail" />
                <span>{{ employee.custom_fields.email.slice(0,10) + '...' }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {
    BaseBlockTop: () => import('~/components/BaseBlockTop.vue')
  },
  props: {
    data: {
      type: [Object, Array]
    }
  }
}
</script>

<style lang="scss">
    .base_employee-wrapper {
        .container {
          .row {
            &.gutter {
                margin: 0 -2rem;
                > * {
                    padding: 0 2rem;
                }
            }
            .employee-item {
              margin-bottom: 3rem;
              .employee-item-inner {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                height: auto;
                @media(max-width: 1024px) {
                    justify-content: center;
                }
                img {
                  width: 30%;
                  height: auto;
                  object-fit: cover;
                  border-radius: $border-radius;
                  @media(max-width: 1024px) {
                    width: 60%;
                    margin-bottom: 1rem;
                  }
                }
                .meta {
                  width: 60%;
                  padding-left: 1rem;
                  @media(max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                    * {
                      text-align: center;
                    }
                  }
                  * {
                    font-family: $primary-font;
                    font-weight: 300;
                  }
                  .title {
                    font-size: 12px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                  }
                  h4, h5, a {
                    margin: 0;
                    font-size: 16px;
                    color: $black;
                    span {
                      font-weight: 700;
                    }
                  }
                  a {
                    display: flex;
                    align-items: center;
                    transition: all ease 250ms;
                    @media(max-width: 1024px) {
                      justify-content: center;
                    }
                    svg {
                      width: 20px;
                      height: 20px;
                      fill: $black;
                      margin-right: 0.5rem;
                      transition: all ease 250ms;
                    }
                    &:hover {
                      color: $primary;
                    }
                    &:hover svg {
                      fill: $primary;
                    }
                  }
                  h5 {
                    margin-bottom: 0.2rem;
                  }
                  h4 {
                    font-size: 18px;
                    margin-bottom: 0.2rem;
                    font-weight: 700;
                  }
                  .buttons-wrapper {
                    .btn {
                      padding: 0.2rem 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
    }
</style>
