<template>
  <div class="base_price-calculator-wrapper">
    <div class="container">
      <div class="row gutter align-items-center">
        <div class="col-md-6">
          <h2>{{ data.title }}</h2>
          <div v-html="data.text">
            {{ data.text }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-inner box">
            <h2>Priskalkylator</h2>
            <p>Här kan vi lägga en generell text kring vad detta är. Typ att det är en priskalkylator och att den baseras på att man bor inom Jönköpings kommun område och vad det innebär.</p>
            <form action="">
              <!-- <div class="input-item">
                <label for="price">Skriv in din kommun</label>
                <input v-model="area" placeholder="Ex. Jönköping" type="text" name="area" class="reset">
              </div> -->
              <!-- <div class="input-item">
                <label for="price">Fyll i antalet kvm</label>
                <input v-model="price" type="number" name="price" class="reset">
              </div> -->
              <div class="input-item">
                <label for="houseType">Välj hustyp</label>
                <select id="" name="">
                  <option value="">
                    Villa
                  </option>
                  <option value="">
                    Radhus
                  </option>
                  <option value="">
                    Lägenhet
                  </option>
                </select>
              </div>
              <div class="input-item">
                <label for="houseType">Antal kvm</label>
                <select id="" name="">
                  <option value="">
                    91-100
                  </option>
                  <option value="">
                    101-120
                  </option>
                  <option value="">
                    121-140
                  </option>
                </select>
              </div>
            </form>
            <div class="payment">
              <h4>Ungefärligt pris efter <a target="_blank" href="https://www.skatteverket.se/privat/fastigheterochbostad/rotochrutarbete.4.2e56d4ba1202f95012080002966.html">RUT</a></h4>
              <h4>{{ price * 25 }} kr</h4>
            </div>

            <div v-if="area === 'jönköping' || area === 'Jönköping' || area === 'JÖNKÖPING'">
              <!-- Empty -->
            </div>
            <div v-else-if="area === ''">
              <!-- Empty -->
            </div>
            <div v-else-if="area != 'jönköping' || area != 'Jönköping' || area != 'JÖNKÖPING'" class="message">
              {{ data.message }}
            </div>

            <div class="buttons-wrapper lg">
              <a class="btn btn-primary orange" href="/">
                <svg-icon name="reachhemservice/phone" />
                <span>Ring oss</span>
              </a>
              <a class="btn btn-primary orange" href="/">
                <svg-icon name="reachhemservice/mail" />
                <span>Maila oss</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: [Object, Array]
    }
  },
  data () {
    return {
      price: '0',
      area: '',
      message: ''
    }
  }
}
</script>

<style lang="scss">
.base_price-calculator-wrapper {
  .container {
    .row {

      &.gutter {
        margin: 0 -2rem;
        > * {
            padding: 0 2rem;
        }
        @media(max-width: 767px) {
            margin: 0;
            > * {
                padding: 0;
            }
        }
      }

      .form-inner {
        background: $white;
        box-shadow: $box-shadow;
        form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
        }
        .input-item {
          width: 48%;

          @media(max-width: 1100px) {
            width: 100%;
            margin-bottom: 1rem;
          }
          label {
            width: 100%;
            font-style: italic;
            font-family: $primary-font;
          }

          input {
            // Globally in bootstrap config
          }
        }

        .payment {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 2rem;
          h4 {
            margin: 0;
            @media(max-width: 1100px) {
              width: 100%;
            }
            &:nth-child(2) {
              color: $primary;
              font-size: 32px;
              font-weight: 700;
            }
            a {
              color: $black;
              text-decoration: none;
              box-shadow: 0 2px 0 0 $black;
              transition: all ease 250ms;
              &:hover {
                box-shadow: 0 2px 0 0 $primary;
                color: $primary;
              }
            }
          }
          span {
            //
            @media(max-width: 1100px) {
              width: 100%;
            }
          }

        }

        .message {
          margin: 2rem 0 1rem 0;
          display: block;
          padding: 1rem;
          background: rgba(orangered, 0.1);
          border-radius: $border-radius;
        }

        .buttons-wrapper {
          margin-top: 2rem;
        }
      }

    }
  }
}
</style>
